@tailwind base;
@tailwind components;
@tailwind utilities;

.texpartenaire {
  @apply text-center font-bold;
}

.titre-apropos {
  @apply text-center py-10 text-4xl font-bold text-[#f9b347];
}
.div-apropos {
  @apply flex space-x-4 flex-col lg:flex-row items-center justify-center space-y-4;
}

.h3-formation {
  @apply text-xl font-bold  text-[#008a8c];
}
.detai-formation {
  @apply border-2 border-[#B45309] rounded-lg m-auto px-2  w-72;
}
.detai-f {
  @apply flex  py-6 pb-3;
}

.group:hover .group-hover\:scale-100 {
  transform: scale(1);
}
.group:hover .group-hover\:-rotate-180 {
  transform: rotate(180deg);
}
.scale-0 {
  transform: scale(0);
}
.min-w-32 {
  min-width: 8rem;
}
