@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;");

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  width: 100%;
  min-height: 75px;
  background-color: #008a8c;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar_links {
  display: flex;
}
.navbar_link {
  padding: 0 0.3rem;
  color: inherit;
}

.navbar_burger {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: inherit;
  display: none;
}
a {
  text-decoration: none;
}
a :hover {
  color: #f9b347;
}

@media screen and (max-width: 767px) {
  .navbar_links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100vw;
    height: 100vh;
    padding: 2rem;
    visibility: hidden;
    background-color: #008a8c;
    bottom: 0;
    z-index: 3;
  }
  .show-nav .navbar_links {
    width: 100vw;
    right: 0;
    visibility: visible;
  }
  .navbar_link {
    display: block;
    padding: 1.5rem;
    font-size: 5vw;
    right: 0;
  }
  .navbar_burger {
    display: block;
    position: fixed;
    right: 1rem;
  }
  .navbar_burger:hover {
    cursor: pointer;
  }
  .burger-bar,
  .burger-bar::before,
  .burger-bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background-color: black;
    transition: all 0.5s ease-in-out;
    z-index: 4;
  }
  .burger-bar::before,
  .burger-bar::after {
    content: "";
    position: absolute;
    left: 0;
  }
  .burger-bar::before {
    transform: translateY(-12px);
  }
  .burger-bar::after {
    transform: translateY(12px);
  }
  .show-nav .burger-bar {
    width: 0;
    background: transparent;
    margin-right: 45px;
  }
  .show-nav .burger-bar::before {
    transform: rotate(45deg);
  }
  .show-nav .burger-bar::after {
    transform: rotate(-45deg);
  }
  button {
    border: none;
  }
}
